@use '../abstracts' as *;

.numbers-section {
  background-color: $blue-background;
  padding: 98px 0;
}

.icon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto;

  &--padding-right {
    @media (min-width: 720px) {

      padding-right: 19px;

    }
  }

  &__accent-text {
    color: $whire;
    line-height: 164%;
    margin: 0;
  }

  &__accent-text--font-size {
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    padding-top: 7px;
  }
}

.icon-group--padding-left {
  padding-left: 4px;
}