$gray-background: rgba(238, 239, 241, 1);
$blue-background: rgba(52, 84, 122, 1);
$text-gray: rgba(114, 114, 114, 1);
$paragraph-nav-black: rgba(0, 0, 0, 1);
$whire: rgba(255, 255, 255, 1);
$img-play-fon: rgba(0, 0, 0, 0.65);
$max-w: 1110px;
$max-w-nav: 565px;
$max-w-about: 540px;
$min-nav-bar: 450px;